#editaddress{
    background: #FFFFFF;
    font-size: 0.75rem;
.z-content-1 {height:2.2rem;line-height:2.2rem;border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;padding-left:0!important;width:92%;margin:0 auto;}
.mybutton-5 {background:#ff8c24;color:#FFF;height:2.3rem;line-height:2.3rem;width:96%;border:none;font-size:.8rem;margin:-.2rem auto;}
.z-content {border-bottom:#909090;}
.no-bordertop {border-top:none;}
.registbody {margin-top:0;margin-bottom:0;}
.moren {height:2.5rem;line-height:2.6rem;}
.moren div:nth-child(1) {float:left;margin-left:.8rem;}
#checkbox {background:#f60;}
#item-input {margin-right:.75rem;}
.color-input {color:gray!important;font-size:.8rem;}
.bg-ff8 {background-color:#ff8c24!important;}
.list-block textarea {margin-top:.6rem;overflow:auto;height:2.5rem;}
.moren div:nth-child(2),#wodekajuan li span {float:right;}
.color-input{font-size: 0.75rem;}
.ed-title {font-size: 0.75rem;}
//删除按钮
.delAddress{
    height: 2.5rem;
    width: 92%;
    margin: 0 auto;
    line-height: 2.5rem;
    color: #ff8c24;;
}
}