@charset "UTF-8";
.feed-back {
    .fb-default {
        width: 94%;
        border-bottom: 1px solid #d9d9d9;
        height: 2.5rem;
        line-height: 2.5rem;
        padding-left: .2rem;
        padding-right: .2rem;
        margin: 0 auto;
        .fb-input {
            border: none!important;
            margin-left: 0.5rem;
            width: 64%;
            background-color: #F5F5F5;
        }
    }
    .fenge {
        height: .5rem;
        background: #f5f5f5;
        margin: 0 auto;
    }
    .yijian-text {
        display: block;
        width: 94%;
        border: none;
        border-bottom: 1px solid #d9d9d9;
        height: 9rem;
        font-size: .75rem;
        margin: .6rem auto;
    }
    .margintop-02 {
        margin-top: -.6rem;
    }
    .liuyan-input {
        border: none;
        width: 100%;
        font-size: .7rem;
        margin-left: 0.25rem;
    }
    .marginleft-1 {
        position: absolute;
        top: .7rem;
        right: 0;
        z-index: 999;
        background-color: transparent;
    }
    .fb-fklx {
        width: 65%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .mybutton-1 {
        width: 90%;
        background-color: #ff8c24;
        color: #FFF;
        border: none;
        margin: 2rem auto;
    }
}

//.fb-opacty{
//  opacity: ;
//}
.modal-bg {
    display: none;
}
.picker-modal {
    background-color: #FFF;
}