@charset "UTF-8";


.gparea-page{
    .gp_yyjs_xy{
        margin-top:8.45rem;
    }
    .city_area_content{
        margin-top: 2.5rem;
    }
    .gparea-sousuo{
        .dysu_left{
            margin-top: 0;
        }
    }
    .yyjs_yyname{
        width: 64%;
        @extend %text-overflow;
    }
}
