@charset "UTF-8";
.help{
	 padding: 0 0.5rem;
}
.help-main {
    margin: 0!important;
    .help-list {
        padding-left: 0;
        padding-top: 0.1rem;
        font-size: 0.75rem;
        color: #212121;
        .help-item {
            padding-right: 0!important;
            text-indent: 0.3rem;
            i{
            	color:#909090;
            }
        }
    }
    ul {
        border-top: none;
    }
}

.help-detail{
	display: none;
	font-size: 0.55rem;
	color: #535353;
	box-shadow: none;
	margin: 0;
	border-bottom: 0.05rem solid #d9d9d9;
	.help-inner{
		padding-right:0;
		padding-left: 0.45rem;
		letter-spacing: 0.08rem!important;
	}
}

.show{
	display: block;
}
