@charset "UTF-8";
.content-row {
    width: 100%;
    background-color: #fff;
    @extend %clearfix;
    .content-half {
        width: 49.35%;
        float: left;
        @extend %clearfix;
        &:nth-child(2n) {
            float: right;
        }
    }
}

.card {
    display: block;
    &.demo-card-header-pic {
        margin: 0;
        box-shadow: none;
    }
}

.typg-box {
    width: 100%;
    padding: 0.5rem;
    height: 3.5rem;
    overflow: hidden;
    line-height: 1.2;
    text-align: justify;
    .item-title {
        @extend %two-line;
        font-size: 0.7rem;
        height: 1.6rem;
        color: #383838;
    }
    .item-subtitle {
        @extend %text-overflow;
        font-size: 0.6rem;
        color: #ec4619;
        margin-top: 0.25rem;
        em{
            margin-left:0.5rem;
            font-size: 0.9rem;
        }
    }
}

.card-img-box {
    width: 100%;
    height: 8.35rem;
    position: relative;
    background-color: #f5f5f5;
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}
