.movie-content {
    background: #fff;
}

.vpl_VideoDetail_num {
    width: 100%;
    background: #FFF;
    margin-top: 0;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: #212121;
}
.vpl_VideoDetail_member {
    display: none;
    margin-top: 1rem;
    font-size: 0.7rem;
    color: #535353;
     span:first-child{
        color: #909090;
    }
}

.vpl_VideoDetail_num_left {
    font-size: .8rem;
    float: left;
    span {
        vertical-align: middle;
    }
}

.vpl_VideoDetail_num_right {
    float: right;
    font-size: 0.7rem;
}

.vpl_Collection.icon-yishoucang {
    color: #ff8c24;
}

.vpl_VideoDetail_num_right span {
    margin-left: .3rem;
    font-size: 1rem;
    margin-right: .3rem;
}

.vpl_VideoDetail {
    width: 100%;
    margin: 0 auto;
    border-top: 0.05rem solid #d9d9d9;
    padding: .7rem .5rem;
}

.vpl_VideoDetail_des_title {
    overflow: hidden;
    span {
        float: right;
        font-size: 0.75rem;
    }
    .vpl_introduction {
        margin-top: 0.2rem;
        margin-left: 0.1rem;
    }
}

.person-mid,
.icon-xinzengdizhi,
.dyp-right p:nth-child(1),
.vpl_VideoDetail_des_title .fontsize-1 {
    font-size: .85rem;
    float: left;
    font-weight: normal;
}

.vpl_VideoDetail_des_inf span {
    font-size: .8rem;
    color: #b0b0b0;
}

#VideoPlay .vpl_middleline {
    width: 100%;
    height: 0.5rem;
    background: #f5f5f5;
}

.vpl_remonForyou {
    width: 100%;
    margin: 0 auto;
    padding: 0.8rem 0.5rem;
    overflow: hidden;
    h1 {
        font-size: 0.85rem;
        font-weight: normal;
        margin: 0;
        float: left;
    }
}

.vpl_remonForyou_list li {
    list-style: none;
    margin: 0;
    width: 100%;
    padding:0 0.5rem;
    height: 4.7rem;
    margin: 0 auto;
}

.vpl_remonForyou_list_left {
    width: 6.5rem;
    height: 3.75rem;
    background: url(../images/vplpic.jpg) no-repeat;
    background-size: cover;
    float: left;
    margin-right: 0.5rem;
    img {
        width: 100%;
        height: 100%;
    }
}

.vpl_remonForyou_list_right {
//  width: 58%;
//  float: right;
    overflow: hidden;
}
.vpl_remonForyou_list_right_go {
    float: right;
    margin-top: 1.25rem;
}
.vpl_remonForyou_list_right_des {
    float: left;
    margin-top: 0.75rem;
    font-size: 0.75rem;
    color: #212121;
    width: 80%;
    p{@extend %text-overflow;}
    p:last-child{
        font-size: 0.6rem;
        color: #909090;
    }
}

.vpl_slidemore p {
    width: 30%;
    text-align: center;
    font-size: 0.6rem;
    margin: 0 auto;
    color: #b6907c;
    margin-bottom: 1rem;
}

.padding-lr {
    padding-left: .5rem;
    padding-right: .5rem;
}

.movie-buzz {
    width: 100%;
    line-height: 1rem;
    padding: 1rem 0.5rem 1.25rem 0.5rem;
    span {
        font-size: 0.75rem;
        color: #212121;
    }
    span.buzz-review {
        font-size: 0.6rem;
        color: #909090;
        float: right;
    }
}

.movie-user-review {
    margin: 0 0 1rem 0;
    padding-left: 0.5rem;
    overflow: hidden;
    width: 100%;
    img {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        margin-right: 0.95rem;
        float: left;
    }
    .movie-user-input {
        width: 79%;
        text-align: center;
        padding: 0.5rem 0;
        border-radius: 0.25rem;
        border: solid 0.05rem #D9D9D9;
        font-size: 0.6rem;
        color: #909090;
    }
}

.movie-other-review {
    box-shadow: none;
    border-radius: 0;
    overflow: auto;
    height: auto;
    .item-content {
        padding-left: 0;
        .review-log {
            color: #909090;
            float: right;
            width: 18%;
            .icon {
                //margin-right: 0.4rem;
            }
        }
    }
    .item-media {
        img {
            width: 1.75rem;
            height: 1.75rem;
        }
    }
    .item-title {
        font-size: 0.7rem;
        color: #212121;
    }
    .item-subtitle {
        font-size: 0.6rem;
        color: #909090;
    }
    .movie-cont {
        float: right;
        width: 86%;
        font-size: 0.75rem;
    }
    .movie-other-cont {
        float: right;
        width: 86%;
        background: #F5F5F5;
        font-size: 0.7rem;
        padding: 0.5rem;
        span {
            color: #909090;
        }
    }
}

.jwplayer .jw-icon-barlogo:before {
    content: none;
}

.jw-icon-barlogo {
    background: url('') no-repeat;
    background-position: center;
}

#video {
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
}

a:active {
    color: black;
}

.vpl_VideoDetail_num_left {
    font-size: .8rem;
}

.vpl_VideoDetail_des_inf span {
    font-size: .8rem;
}

.vpl_remonForyou h1 {
    font-size: .85rem;
}

.vpl_remonForyou i {
    font-size: 1rem;
}

.icon-up,
.icon-down {
    color: gray;
}

.fenge-10 {
    margin-bottom: 0;
    height: 11.5rem;
}
.videobox,
.bg_video {
    width: 100%;
    position: fixed;
    height: 11.5rem;
    top: 0;
    z-index: 999;
}

.bg_video {
    display: none;
    background-color: rgba(0, 0, 0, .5);
}

.bg_video_show {
    display: block;
    z-index: 2147483647;
    height: 100%;
    position: absolute;
    left: 0;
}

.vip_tips {
    width: 75%;
    text-align: center;
    color: #fff;
    margin: 2.5rem auto;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.vip_tips ul {
    display: flex;
    width: 68%;
    margin: 0 auto;
}

.vip_tips ul li {
    float: left;
    text-align: center;
    margin: 1rem auto .2rem;
    width: 3.9rem;
    background: #ff8c24;
    height: 1.7rem;
    line-height: 1.7rem;
    border-radius: .25rem;
    a{
        color: #fff;
    }
}

.comment_bar {
    position: fixed;
    bottom: 0;
    height: 5.75rem;
    background: #ecedf1;
    width: 100%;
    padding: 0.5rem;
    display: none;
}

.comment_bar textarea,
.comment_bar button {
    float: left;
    border: 0;
    height: 100%;
}

.comment_bar textarea {
    width: 80%;
}

.comment_bar button {
    position: absolute;
    bottom: 0.5rem;
    margin-left: 5px;
    font-size: 0.65rem;
    background: #ff8c24;
    border: 0;
    color: #fff;
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 5px;
}
.movie-content .vpl_box{
    display: block;
    position: fixed;
    top: 11.5rem;
    width: 100%;
    height: 70%;
    overflow: auto;
      
    i{
        float: right;
    }
}
.vpl_tc_comment{
     .vpl_slidemore{
        padding-bottom:4rem;
     }
}
.bg_zhezhao{
    width: 100%;
    height: 83%;
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
}