
.fenge {height:.5rem;background:#f5f5f5;margin:0 auto;}
.list-default {width:94%;border-bottom:1px solid #d9d9d9;height:2.5rem;line-height:2.5rem;padding-left:.2rem;padding-right:.2rem;margin:0 auto;}
.list-default span {float:right;font-size:.95rem;}
.yijian-text {display:block;width:94%;border:none;border-bottom:1px solid #d9d9d9;height:9rem;font-size:.75rem;margin:.6rem auto;}
.liuyan-input {border:none;width:100%;font-size:.7rem;}
.mybutton-1 {width:90%;height:1.5rem;background-color:#ff8c24;color:#FFF;border:none;margin:2rem auto;}
.border-no {border:none!important;}
.marginleft-1 {margin-left:1rem;}
.height-40 {height:2rem;line-height:2rem;}
.bg-ff8 {background-color:#ff8c24!important;}
.scale-1 {transform:scaleY(0.92);margin-top:-.3rem;}
.height-55 {height:2.2rem;line-height:2.2rem;}
//.dyp-up {border-bottom:1px solid #d9d9d9;display:flex;padding:.5rem;}
//.dyp-img {width:4.8rem;height:6.7rem;background-size:contain;background-repeat:no-repeat;}
//.dyp-right {width:11.5rem;margin-left:.4rem;margin-top:-.65rem;}
//.dyp-right p {line-height:.3rem;font-size:.65rem;}
//.dyp-right p:nth-child(1) span {display:inline-block;width:1rem;height:.7rem;line-height:.7rem;text-align:center;background-color:#ff8c24;color:#FFF;font-size:.6rem;border-radius:.1rem;}
//.wd-yingyuan {font-size:.65rem;}
//.wd-yingyuan span {color:gray;display:block;margin-left:2.1rem;margin-top:-.95rem;}
//.dyp-right p:nth-child(6) span {font-size:.85rem;color:#ec4619;}
.mybutton-2 {width:3rem;height:1.5rem;background-color:#ff8c24;color:#FFF;float:right;margin-top:.4rem;margin-right:.6rem;border:none;}
.height-45 {height:2.25rem;line-height:2.25rem;}
.buttons-tab {height:2.3rem;line-height:2.3rem;}
.buttons-tab .button {height:2.3rem;}
.myspan-1 {display:inline-block;float:none!important;margin-right:1rem;font-size:.8rem!important;width:3.5rem;}
.shangpin-up {font-size:.77rem;}
.shangpin-up .shangpin-name {height:2rem;line-height:1.8rem;padding-left:.5rem;border-bottom:1px solid #d9d9d9;}
.shangpin-jiage {padding-left:.5rem;padding-bottom:.16rem;}
.shangpin-jiage p {font-size:.78rem;line-height:.45rem;}
.shangpin-jiage p:nth-child(1) span {margin-left:.2rem;color:#ba927e;}
.shangpin-jiage p:nth-child(2) span:nth-child(1) {margin-left:.2rem;font-size:1rem;color:#ed4518;}
.shangpin-jiage p:nth-child(2) span:nth-child(2) {font-size:.5rem;color:#ed4518;}
.border-top-1 {border-top:1px solid #d9d9d9;}
.shangpin-shangjia {color:gray;padding:.5rem 1.5rem .8rem .5rem;}
.shangpin-shangjia span {color:#000;display:inline-block;margin-left:1.1rem;}
.shangpin-shangjia .jiachang {margin-top:-1.2rem;margin-left:4.2rem;}
.shangpin-down {width:94%;font-size:.75rem;margin:0 auto;}
.shangpin-down div:nth-child(1) {height:2rem;line-height:2rem;color:gray;border-bottom:1px solid #d9d9d9;}
.shangpin-down div:nth-child(2) {margin-top:1rem;}
.marginleft-2 {margin-left:2.6rem!important;}
.mybutton-foot {width:100%;height:2rem;line-height:2rem;color:#FFF;text-align:center;background-color:#ff8c24;}
.jw-controlbar {left:-1rem;}
.jw-icon {transform:scale(0.7);}
.color-gengduo {color:#b6907c;}
.color-gengduo:active {color:#b6907c;}
.fenge-10 {width:100%;height:33%;margin-bottom:0;}
.video-box {width:100%;position:fixed;height:30%;top:0;z-index:999;}
#video {width:100%;height:100%;background-image:url(/images/shipin-bg.gif);background-position:48% 48%;background-color:#000;background-repeat:no-repeat;}
.padding-lr {padding-left:.5rem;padding-right:.4rem;}
.vpl_VideoDetail_num {position:fixed;top:30%;width:100%;background:#FFF;margin-top:0;padding-top:.5rem;padding-bottom:.3rem;}
.vpl_VideoDetail_member {display:none;margin-top:1rem;font-size:.8rem;}
.shouyelogo span a {margin-left:.7rem;font-weight:600;}
.vpl_VideoDetail_num_right span {margin-left:.3rem;font-size:1rem;color:#383838;}
.wj_address {margin-top:0;}
.wj_address li {height:auto;margin-left:0;}
.list-block textarea {margin-top:.6rem;overflow:auto;height:2.5rem;}
.iMall_list_pictice img {width:6rem!important;height:6rem!important;}
.mybutton-3 {border:none;color:#FFF!important;}
.zhezhao {width:100%;height:100%;background-color:#000;opacity:0.5;display:none;}
.button-shangpin {width:100%;height:2.2rem;background-color:#ff8c24;line-height:2.2rem;text-align:center;color:#FFF;}
.lijiduihuan {position:fixed;bottom:0;}
.quesheng {width:100%;height:20rem;background-color:#f5f5f5;}
.quesheng div {width:100%;margin-top:30%;text-align:center;}
.quesheng div i {font-size:4.5rem;color:#ddd;}
.quesheng div p {font-size:.75rem;color:gray;line-height:0;}
.newbutton {width:92%;height:2.2rem;background:#ff8c24;text-align:center;line-height:2.2rem;font-size:.85rem;border-radius:.25rem;color:#FFF;font-weight:500;margin-left:4%;font-family:微软雅黑;}
.fixbutton {position:fixed;bottom:4.5rem;}
.inhert-li {width:92%;border-bottom:1px solid #d9d9d9;height:2.2rem;line-height:2.2rem;margin:0 auto;}
.preloader-indicator-modal {background-color:rgba(0,0,0,0);}
.preloader {animation:0;-webkit-animation:0;}
html,body,.swiper-wrapper img,.editad,.shangpin-up img,.shangpin-down img,.iMall_list ul {width:100%;}
.shouyelogo span i,.clear-record i,.li-50 i {font-size:1rem;}
.zzdx,#edme li,.tj-fenxiang li {position:relative;}
.zzdx h4,.right-icon i,.list-block,#ed-address,.yq-li div:nth-child(2) p:nth-child(1),.fontsize-1 {font-size:.8rem;}
.bg-white,.picker-modal {background-color:#FFF;}
.item-input input,.font-75,.inhert-li input {font-size:.75rem!important;}
#myAddress,.shouye-a4 {color:#383838;}
.width-92,.box-90 {width:98%;margin:0 auto;}
.userpa,.modal-button,.dyp-right p span {color:gray;}
.ds-none,#mr-tongyi,.my-select input {display:none;}
.bar,#wddianyingpiao {background-color:#f5f5f5;}
.picker-items,.vpl_VideoDetail_num_right span:nth-child(3) {font-size:.9rem;}
.actions-modal-group .actions-modal-button:nth-child(2),.bar .button.pull-right,.modal-button-bold {color:#f60;}
.person-mid,.icon-xinzengdizhi,.dyp-right p:nth-child(1),.vpl_VideoDetail_des_title .fontsize-1 {font-size:.85rem;}
.picker-modal .bar,.main-90 input {border:none;}
#fasong a:active,.color-white {color:#FFF;}
.moren div:nth-child(2),#wodekajuan li span {float:right;}
.foot-box,.fenge-3 {width:100%;height:2.5rem;}
.message-text p:nth-child(1),.fontsize-07 {font-size:.75rem;}
.icon-shangchengxiaoxi,.icon-pinglunzan1 {color:#EC4619;}
.preloader-white:after,.preloader:after {background-image:url(/images/jiazai2.gif);}

//设置页面开关颜色
.w-switch input[type=checkbox]:checked+.checkbox {
    background: #FD8516 !important;
}
