.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
    color: #ed4518;
}


//底部导航
.pub-bar{
    border-top: 1px solid #d0d0d0;
   background-color: #fff;
   position: fixed;
   .icon{
       font-size: 1rem!important;
   }
   .tab-label{
       font-size: 0.5rem!important;
   }
   .icon-video{
    font-size:1.1rem!important;
   
//  &:before{
//      padding-left:0.2rem;
//  }
}
.icon-video-active{
   font-size:1.1rem!important;
   
//  &:before{
//      padding-left:0.2rem;
//  }
}

}
.bar-tab{
    .tab-item{
        color:#333;
        height: 2.5rem;
        vertical-align: baseline;
        padding-top: 0.1rem;
        &.active{
            color:#ec4619;
        }
    }
    
} 

.bdbt-none{
    border-bottom: 0;
}
