@charset "UTF-8";
.card-shopping-cart{
    box-shadow: none;
}
.card-header{
    @extend %clearfix;
}
.padding-btn{
    padding-bottom: 2.25rem;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
    background-color: #ff8c24;
    border: none;
}
.rule-price{
    font-style: normal;
    .r-qicai{
        font-size: 0.55rem;//11px
        em{
            font-size: 0.8rem;
            margin-left: 0.1rem;
        }
    }
    .r-rmb{
        font-size: 0.7rem;
        color: #ff8c24;
        em{
            font-size: 0.8rem;
        }
    }
}

.rule-coupon{
    b{
//      float: left;
        font-weight: normal;
    }
}

.shopcartAera{
    padding: 1.5rem 0!important;
    background: #fff!important;
    font-size: 0.8rem!important;
    border-radius: 0.5rem 0.5rem 0 0!important;
    border-bottom: 1px solid #d2d2d2!important;
    color: #262626!important;
}
.shopcartConfirm{
    background: #fff;
    font-size: 0.8rem;
    color: #ec4619;
}
.shopcartCancel{
    border-right: 1px solid #d2d2d2!important;
    border-radius: 0 0 0 0.5rem!important;
    color: #7b7b7b!important;
}
.shopcartSure{
    border-radius: 0 0 0.5rem 0!important;
    border-right: none!important;
}
