@charset "UTF-8";
.not-found-video {
    top: 60%;
}

#ss-shanchu {
    display: block;
    position: absolute;
    color: #d9d9d9;
    top: .95rem;
    right: 3.3rem;
    display: none;
}

#sousuo-input {
    width: 70%;
    -webkit-appearance: none;
}