<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>系统消息</title>
<link rel="stylesheet" href="assets/css/light7.min.css">
<link rel="stylesheet" href="assets/css/common.css">
	
<script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="lib/vue.min.js"></script>
<script type="text/javascript" src="lib/axios.min.js"></script>
<script type="text/javascript" src="lib/api.js"></script>
<script type='text/javascript' src='lib/layer-mobile/layer.js' charset='utf-8'></script>
<script type="text/javascript">
	$.config = {
		router: false,
	}
	//公用url
	function baseUrl() {
		return 'http://my.shop.7cai.tv/';
	//	return 'http://www.movie.com/';	
	}
</script>
<script type="text/javascript" src="assets/js/iscroll.js"></script>
<script type="text/javascript" src="assets/js/date.js"></script>
<script type="text/javascript" src="lib/imgload.js"></script>
<script  type="text/javascript" charset="utf-8" src="assets/js/common.js" ></script>
<script type="text/javascript" src="lib/light7/js/light7.min.js"></script>

		<script type="text/javascript" src="lib/hprose.js" charset="utf-8"></script>
		<style type="text/css">
			.icon-xiaoxi-quesheng {
				color: #d9d9d9;
			}
			body {
				background: #f5f5f5;
			}
			.lqnoxiaoxiicon {
				font-size: 4.5rem;
				color: #d9d9d9;
			}
			
			.noxiaoxibox {
				text-align: center;
				margin-top: 6rem;
			}
			
			/*.icon-xiaoxi-quesheng {
				
			}*/
			
			.noxiaoxibox p {
				margin-top: 0.6rem;
				font-size: 0.75rem;
				color: #979797;
			}
		</style>
	</head>

	<body>
		<div class="page goodPages page-current" id="sysMessage">
			<header class="bar bar-nav bdbt-none ad-bar" style="z-index: 1000;">
  <a class="icon icon-left pull-left" href="javascript:history.go(-1)"></a>
  <!--<a class="icon icon-refresh pull-right"></a>-->
  <h1 class="title">系统消息</h1>
</header>
			<div class="content znTop">
				<!--没有消息-->
				<div class="lqnoxiaoxi" v-if="allsysmessage.res == 0">
					<div class="noxiaoxibox">
						<i class="icon icon-xiaoxi-quesheng lqnoxiaoxiicon"></i>
						<p>您当前没有收到的消息~</p>
					</div>
				</div>
				<!--有消息-->
				<div class="message-95" v-for="item in sysmessage" v-if="allsysmessage.res == 1" v-cloak>
					<div v-if="item.type == 1"><i class="icon icon-xitongxiaoxi lqnoxiaoxi"></i></div>
					<div v-if="item.type == 2"><i class="icon icon-shangchengxiaoxi lqshangcheng"></i></div>
					<div v-if="item.type == 3"><i class="icon icon-guanyingxiaoxi lqguanyin"></i></div>
					<div class="message-text">
						<p>{{item.content}}</p>
						<p>{{item.add_time | moment}}</p>
					</div>
				</div>
				<!--<div class="message-95">
					<div><i class="icon icon-shangchengxiaoxi lqshangcheng"></i></div>
					<div class="message-text">
						<p>商城消息商城消息商城消息商城消息。</p>
						<p>2016-12-16 16:27</p>
					</div>
				</div>
				<div class="message-95">
					<div><i class="icon icon-guanyingxiaoxi lqguanyin"></i></div>
					<div class="message-text">
						<p>观影消息观影消息观影消息观影消息观影消息观影消息观影消息观影消息。</p>
						<p>2016-12-16 16:27</p>
					</div>
				</div>-->
			</div>
		</div>
		<script type="text/javascript" src="lib/light7/js/i18n/cn.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="assets/js/message.js" charset="utf-8"></script>
		<script type="text/javascript">
			//系统消息页面数据
			var sysMessage = new Vue({
				el:"#sysMessage",
				data: {
					sysmessage: [],
					allsysmessage: []
				},
				filters:{
					moment: function(value){
						return new Date(parseInt(value) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
					}
				},
			
				mounted: function() {
					//初始化加载数据
					var _this = this;
					this.showMessage();
				},
				methods: {
					showMessage: function(){
						var _this = this;
						axios.get(show_sysmessage[conf]).then(function(response) {
							var dataMessage = response.data;
			//				console.log(dataMessage);
							var data = response.data.data;
							sysMessage.sysmessage = data;
							sysMessage.allsysmessage = dataMessage;
			//				console.log(data);
						});
					},
				}
			});
		</script>
	</body>
</html>