@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tzudf8');
  src:  url('../fonts/icomoon.eot?tzudf8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tzudf8') format('truetype'),
    url('../fonts/icomoon.woff?tzudf8') format('woff'),
    url('../fonts/icomoon.svg?tzudf8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pingtaifenxiang .path1:before {
  content: "\e912";
  color: rgb(206, 206, 206);
}
.icon-pingtaifenxiang .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pingtaifenxiang .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pingtaifenxiang .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-qq:before {
  content: "\e90f";
}
.icon-copylink:before {
  content: "\e910";
}
.icon-pengyouquan:before {
  content: "\e911";
}
.icon-weibo:before {
  content: "\e916";
}
.icon-wechat:before {
  content: "\e917";
}
.icon-down3:before {
  content: "\e900";
}
.icon-up3:before {
  content: "\e901";
}
.icon-dengpao:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e600";
}
.icon-friends:before {
  content: "\e601";
}
.icon-home:before {
  content: "\e602";
}
.icon-me:before {
  content: "\e603";
}
.icon-settings:before {
  content: "\e604";
}
.icon-app:before {
  content: "\e605";
}
.icon-browser:before {
  content: "\e606";
}
.icon-card:before {
  content: "\e607";
}
.icon-check:before {
  content: "\e608";
}
.icon-code:before {
  content: "\e609";
}
.icon-remove:before {
  content: "\e60a";
}
.icon-download:before {
  content: "\e60b";
}
.icon-edit:before {
  content: "\e60c";
}
.icon-menu:before {
  content: "\e60d";
}
.icon-star:before {
  content: "\e60e";
}
.icon-uniE60F:before {
  content: "\e60f";
}
.icon-caret:before {
  content: "\e610";
}
.icon-up:before {
  content: "\e612";
}
.icon-right:before {
  content: "\e613";
}
.icon-left:before {
  content: "\e614";
}
.icon-small:before {
  content: "\e615";
}
.icon-computer:before {
  content: "\e616";
}
.icon-message:before {
  content: "\e617";
}
.icon-gift:before {
  content: "\e618";
}
.icon-clock:before {
  content: "\e619";
}
.icon-picture:before {
  content: "\e61a";
}
.icon-share:before {
  content: "\e61b";
}
.icon-refresh:before {
  content: "\e61c";
}
.icon-search:before {
  content: "\e61d";
}
.icon-theater:before {
  content: "\e622";
}
.icon-jixiangwu:before {
  content: "\e623";
}
.icon-kaitonghuiyuan:before {
  content: "\e624";
}
.icon-tuijianyouli:before {
  content: "\e625";
}
.icon-shop:before {
  content: "\e626";
}
.icon-bofangjilu:before {
  content: "\e627";
}
.icon-shipinshoucang:before {
  content: "\e628";
}
.icon-wodedianyingpiao:before {
  content: "\e629";
}
.icon-wodeqicaibi:before {
  content: "\e62a";
}
.icon-wodekaquan:before {
  content: "\e62b";
}
.icon-wodedingdan:before {
  content: "\e62c";
}
.icon-xiaoxizhongxin:before {
  content: "\e62d";
}
.icon-yijianfankui:before {
  content: "\e62e";
}
.icon-shezhi:before {
  content: "\e62f";
}
.icon-v:before {
  content: "\e632";
}
.icon-zanwubofangjilu-quesheng:before {
  content: "\e635";
}
.icon-shipinshoucang-quesheng:before {
  content: "\e637";
}
.icon-wodedianyingpiao-quesheng:before {
  content: "\e638";
}
.icon-shouru-quesheng:before {
  content: "\e63a";
}
.icon-zhichu-quesheng:before {
  content: "\e63b";
}
.icon-duihuan-quesheng:before {
  content: "\e63c";
}
.icon-wodedingdan-quesheng:before {
  content: "\e63d";
}
.icon-xitongxiaoxi:before {
  content: "\e63e";
}
.icon-pinglunzan:before {
  content: "\e63f";
}
.icon-gerenzhongxinweidenglu:before {
  content: "\e641";
}
.icon-appreciate:before {
  content: "\e644";
}
.icon-check1:before {
  content: "\e645";
}
.icon-close:before {
  content: "\e646";
}
.icon-wodejifen-quesheng:before {
  content: "\e647";
}
.icon-xiaoxi-quesheng:before {
  content: "\e648";
}
.icon-wodekaquan-quesheng:before {
  content: "\e649";
}
.icon-emoji:before {
  content: "\e64a";
}
.icon-favorfill:before {
  content: "\e64b";
}
.icon-favor:before {
  content: "\e64c";
}
.icon-down:before {
  content: "\e64d";
}
.icon-up2:before {
  content: "\e64e";
}
.icon-bofangjilu1:before {
  content: "\e64f";
}
.icon-locationfill:before {
  content: "\e650";
}
.icon-shipinshoucang1:before {
  content: "\e651";
}
.icon-phone2:before {
  content: "\e652";
}
.icon-wodedianyingpiao1:before {
  content: "\e653";
}
.icon-wodeqicaibi1:before {
  content: "\e654";
}
.icon-order:before {
  content: "\e655";
}
.icon-roundcheckfill:before {
  content: "\e656";
}
.icon-roundcheck:before {
  content: "\e657";
}
.icon-roundclosefill:before {
  content: "\e658";
}
.icon-roundclose:before {
  content: "\e659";
}
.icon-roundrightfill:before {
  content: "\e65a";
}
.icon-roundright:before {
  content: "\e65b";
}
.icon-wodekaquan1:before {
  content: "\e65c";
}
.icon-wodedingdan1:before {
  content: "\e65d";
}
.icon-timefill:before {
  content: "\e65e";
}
.icon-time:before {
  content: "\e65f";
}
.icon-tuijianyouli1:before {
  content: "\e660";
}
.icon-xiaoxizhongxin1:before {
  content: "\e661";
}
.icon-warnfill:before {
  content: "\e662";
}
.icon-warn:before {
  content: "\e663";
}
.icon-camerafill:before {
  content: "\e664";
}
.icon-daishouhuo:before {
  content: "\e665";
}
.icon-shouhuochenggong:before {
  content: "\e666";
}
.icon-yijianfankui1:before {
  content: "\e667";
}
.icon-shezhi1:before {
  content: "\e668";
}
.icon-guanyingxiaoxi:before {
  content: "\e669";
}
.icon-weitianjiashouhuodizhi:before {
  content: "\e66a";
}
.icon-like:before {
  content: "\e66b";
}
.icon-notificationfill:before {
  content: "\e66c";
}
.icon-notification:before {
  content: "\e66d";
}
.icon-shipinqueshen:before {
  content: "\e66e";
}
.icon-shangchengxiaoxi:before {
  content: "\e66f";
}
.icon-zhaopiantuku:before {
  content: "\e670";
}
.icon-xiangji:before {
  content: "\e671";
}
.icon-right2:before {
  content: "\e672";
}
.icon-dengdaifahuo:before {
  content: "\e673";
}
.icon-dengdaifukuan:before {
  content: "\e674";
}
.icon-left2:before {
  content: "\e675";
}
.icon-shurushoujihao:before {
  content: "\e676";
}
.icon-dianzanhou:before {
  content: "\e677";
}
.icon-dianzan:before {
  content: "\e678";
}
.icon-shurumima:before {
  content: "\e679";
}
.icon-weishoucang:before {
  content: "\e67a";
}
.icon-shanchu:before {
  content: "\e67b";
}
.icon-xiazai:before {
  content: "\e67c";
}
.icon-fenxiang:before {
  content: "\e67d";
}
.icon-daohang:before {
  content: "\e67e";
}
.icon-jixubofang:before {
  content: "\e67f";
}
.icon-chongxinbofang:before {
  content: "\e680";
}
.icon-bofangjilu2:before {
  content: "\e681";
}
.icon-jianpan:before {
  content: "\e682";
}
.icon-guanbi:before {
  content: "\e683";
}
.icon-shanchuzifu:before {
  content: "\e684";
}
.icon-jiaofeihuiyuanbianji1:before {
  content: "\e685";
}
.icon-weixuanze:before {
  content: "\e686";
}
.icon-xiaoxizhongxin2:before {
  content: "\e687";
}
.icon-list:before {
  content: "\e688";
}
.icon-sousuo:before {
  content: "\e689";
}
.icon-more:before {
  content: "\e68a";
}
.icon-xuanze:before {
  content: "\e68b";
}
.icon-xinzengdizhi:before {
  content: "\e68c";
}
.icon-tuijianrenbianhao:before {
  content: "\e68d";
}
.icon-yishoucang:before {
  content: "\e68e";
}
.icon-scan:before {
  content: "\e68f";
}
.icon-huangguan:before {
  content: "\e690";
}
.icon-chatianqi:before {
  content: "\e691";
}
.icon-huochepiao:before {
  content: "\e692";
}
.icon-eye:before {
  content: "\e693";
}
.icon-ditie:before {
  content: "\e694";
}
.icon-dache:before {
  content: "\e695";
}
.icon-dingjiudian:before {
  content: "\e696";
}
.icon-help:before {
  content: "\e697";
}
.icon-hunsha:before {
  content: "\e698";
}
.icon-jipiao:before {
  content: "\e699";
}
.icon-jingdianmenpiao:before {
  content: "\e69a";
}
.icon-qichepiao:before {
  content: "\e69b";
}
.icon-gouwuche:before {
  content: "\e69c";
}
.icon-bangzhu:before {
  content: "\e69d";
}
.icon-wodeshoucang:before {
  content: "\e69e";
}
.icon-dianpu:before {
  content: "\e69f";
}
.icon-shoucang:before {
  content: "\e6a0";
}
.icon-yishoucang2:before {
  content: "\e6a1";
}
.icon-dizhi:before {
  content: "\e6a2";
}
.icon-tianjiadizhi:before {
  content: "\e6a3";
}
.icon-jian:before {
  content: "\e6a4";
}
.icon-jia:before {
  content: "\e6a5";
}
.icon-set:before {
  content: "\e6ae";
}
.icon-homefill:before {
  content: "\e6bb";
}
.icon-message1:before {
  content: "\e6bc";
}
.icon-addressbook:before {
  content: "\e6bd";
}
.icon-link:before {
  content: "\e6bf";
}
.icon-lock:before {
  content: "\e6c0";
}
.icon-unlock:before {
  content: "\e6c2";
}
.icon-vip:before {
  content: "\e6c3";
}
.icon-friendadd:before {
  content: "\e6ca";
}
.icon-info:before {
  content: "\e6e5";
}
.icon-office:before {
  content: "\e705";
}
.icon-gerenzhongxin:before {
  content: "\e70b";
}
.icon-jifen:before {
  content: "\e70c";
}
.icon-female:before {
  content: "\e71a";
}
.icon-male:before {
  content: "\e71c";
}
.icon-phone:before {
  content: "\e725";
}
.icon-favoritesfilling:before {
  content: "\e730";
}
.icon-accountfilling:before {
  content: "\e732";
}
.icon-creditlevel:before {
  content: "\e735";
}
.icon-creditlevelfilling:before {
  content: "\e736";
}
.icon-mall:before {
  content: "\e903";
}
.icon-mall-active:before {
  content: "\e904";
}
.icon-video:before {
  content: "\e905";
}
.icon-video-active:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-user-active:before {
  content: "\e908";
}
.icon-find:before {
  content: "\e909";
}
.icon-find-active:before {
  content: "\e90a";
}
.icon-ticket:before {
  content: "\e90b";
}
.icon-bianji:before {
  content: "\e90c";
}
.icon-bianji1:before {
  content: "\e90d";
}
.icon-ticket-active:before {
  content: "\e90e";
}
