<!DOCTYPE html>
<html>
<head>
    @@include('../tpl/header.tpl',{ "title":"查看物流" })
</head>
<body>
<div id="deliverDetail">
    <div class="page page-current">

        <div class="list-block media-list ccart-list deliver-info">
            <ul class="ccart-content deliver-content" v-cloak>
                <li class="deliver-list">
                    <div class="ccart-con" v-for="odGood in orderDetailsList.goodsList" :godId="odGood.id">
                        <div class="item-content">
                            <div class="item-media express-detail">
                                <a href="javascript:;">
                                    <img :src="odGood.goods_image">
                                </a>
                            </div>
                            <div class="item-inner express-detail">
                                <div class="item-title-row">
                                    <div class="item-title deliver-goods"><a
                                            href="javascript:;">{{odGood.goods_name}}</a></div>
                                </div>
                                <div class="item-subtitle deliver-gd">{{odGood.goods_description}}</div>
                                <div data-attrid="170" class="item-text deliver-norm" v-html="'规格：'+odGood.attr"></div>
                                <div class="ccart-price deliver-price" v-cloak>
                                    <strong>
                                        {{orderDetailsList.exchange_type | odMoneyTit(orderDetailsList.exchange_type)}}
                                    </strong>
                                    <span v-if="orderDetailsList.exchange_type == 1">{{odGood.sell_price}}</span>
                                    <span v-if="orderDetailsList.exchange_type == 0">{{odGood.money}}</span>
                                    <span class="deliver-num">数量:<em class="deliverNum">{{odGood.goods_num}}</em></span>
                                    <span class="deliver-state"
                                          v-if="odGood.refund_reason==1 && odGood.refund_approval==0 && orderDetailsList.exchange_type == 0">退款中</span>
                                    <span class="deliver-state"
                                          v-else-if="odGood.refund_reason==1 && odGood.refund_approval==1 && orderDetailsList.exchange_type == 0">退款关闭</span>
                                    <span class="deliver-state"
                                          v-else-if="odGood.refund_reason==1 && odGood.refund_approval==2 && orderDetailsList.exchange_type == 0">退款成功</span>
                                    <span class="deliver-state" v-else></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list-block deliver-mes">
            <ul class="deliver-details" v-cloak>
                <li class="item-content deliver-item">
                    <div class="item-inner deliver-order">
                        <div class="item-title">承运来源：</div>
                        <div class="deliver-exp">{{orderDetailsList.shipping_name}}</div>
                    </div>
                </li>
                <li class="item-content deliver-item">
                    <div class="item-inner deliver-order">
                        <div class="item-title deliver-order">运&nbsp;&nbsp;单&nbsp;&nbsp;号：</div>
                        <div class="deliver-ordernum">{{orderDetailsList.shipping_code}}</div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
<script src="assets/js/deliverDetail.js"></script>
</body>
</html>
