<!DOCTYPE html>
<html>

<head>
    @@include('../tpl/header.tpl',{ "title":"中益七彩" })
    <style>

    </style>
</head>
<body>
    <div class="page-group">
        <div class="page page-current movie-content" id="VideoPlay">
            <div class="content" v-cloak>
                <div class="fenge-10"></div>
                
                
                <div class="vpl_VideoDetail_num padding-lr clearfix">
                    <div class="vpl_VideoDetail_num_left"> <span class="iconfont icon-xiaoxizhongxin" style="font-size: 1rem;"></span> <span> 热评<span>{{comCount}}</span>次</span>
                    </div>
                    <div class="vpl_VideoDetail_num_right"> <span class="iconfont icon-weishoucang vpl_Collection" index="1" @click="clickKeep(keepId)"></span> <span class="iconfont icon-fenxiang vpl_share open-popup open-shares" id="button-fenxiang"></span> </div>
                    <div class="vpl_share_pingtai"> </div>
                </div>
                <section class="vpl_VideoDetail">
                    <div class="vpl_VideoDetail_des" id="content_movie" v-cloak>
                        <div class="vpl_VideoDetail_des_title">
                            <h2 class="fontsize-1">{{movieContent.name}}</h2>
                            <span style="color: #B0B0B0;" class="iconfont icon-down3 vpl_introduction" index="1"></span><span class="color-gray">简介</span>
                        </div>
                        <div class="vpl_VideoDetail_des_inf">
                            <span>{{movieContent.count}}</span><span>次播放&nbsp;·&nbsp;</span> <span>{{movieContent.grade}}分</span> 
                            <!--<span style="margin-left:0.4rem;">播放源：</span>--> 
                            <!--<span id="bofangyuan"> <img src="assets/images/mangguo.png" style="transform: scale(1.3);"/> 
                            <span>{{movieContent.play_source}}</span> </span>-->
                        </div>
                        <div class="vpl_VideoDetail_member">
                            <ul>
                                <li> <span>导演： </span> <span>{{movieContent.director}} </span> </li>
                                <li> <span>上映： </span> <span>{{movieContent.release_time}} </span> </li>
                                <li> <span>主演： </span> <span>{{movieContent.role}}</span> </li>
                                <li> <span>标签： </span> <span>{{movieContent.type}}</span> </li>
                                <li> <span>简介： </span><span> {{movieContent.content}} </span> </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <div class="vpl_middleline"></div>
                <div class="tuijian clearfix">
                    <div class="vpl_remonForyou">
                        <h1>为你推荐</h1>
                    </div>
                    <section class="vpl_remonForyou_list" id="tuijian_movie">
                        <ul>
                            <li v-for="(item, index) in movielist.data" :id="index" v-if="index < 5" v-cloak>
                                <a :href="'movie-content.html?id='+item.id" class="external color-default mytouch">
                                    <div id="item.id" class="vpl_remonForyou_list_left"> <img :src="item.cover" class="tuijian-pic" style="width: 100%;height: 100%;" /> </div>
                                    <div class="vpl_remonForyou_list_right">
                                        <div class="vpl_remonForyou_list_right_des">
                                            <p>{{item.name}}</p>
                                            <p>{{item.title}}</p>
                                        </div>
                                        <div class="vpl_remonForyou_list_right_go iconfont icon-right2"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="vpl_slidemore">
                            <p class="vpl_slidemore_go mytouch">查看更多></p>
                        </div>
                    </section>
                </div>
                <div class="vpl_middleline"></div>
                <!--评价 start-->
                <div class="movie-buzz">
                    <span>热评</span>
                    <span class="buzz-review">全部热评</span>
                </div>
                <div class="movie-user-review">
                    <img src="assets/images/my_user.png" />
                    <input class="movie-user-input" type="text" placeholder="我来说两句" @click='addComment(1)' />
                </div>
                <div class="card movie-other-review">
                    <div style="display: block;overflow: auto;">
                        <div class="card-content clearfix" v-for='item in Comment' v-cloak>
                            <div class="list-block media-list" id="{{item.id}}">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-media">
                                            <img :src="'http://img.7cai.tv/'+item.head">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">{{item.user_name}}</div>
                                            </div>
                                            <div class="item-subtitle">{{item.add_time}}</div>
                                        </div>
                                        <div class="review-log" @click='addComment(0,item.id)' :id="item.id">
                                            <i class="icon icon-xiaoxizhongxin1"></i>
                                            <span>{{item.reply_num}}</span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="movie-cont">
                                    {{item.content}}
                                </div>
                                <div class="movie-other-cont" v-if="item.reply!=''" v-for="items in item.reply">
                                    <span class="movieCont-tit">{{items.user_name}}</span><span>：</span> {{items.content}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vpl_slidemore" v-show="switchShow" @click="getCommentMore()">
                        <p class="mytouch">查看更多></p>
                    </div>
                    <!--评价 end-->
                </div>
            </div>
            <section class="vpl_box vpl_box_remonforyou" style="display:none;">
                <div class="vpl_remonForyou vpl_remonForyou2">
                    <h1>为你推荐</h1>
                    <i class="iconfont icon-guanbi vpl_remonForyou_close" @click="close_tj()"></i> </div>
                <div class="vpl_remonForyou_list vpl_remonForyou_list2">
                    <ul>
                       <li v-for="(item, index) in movielist.data" :id="index"  v-cloak>
                                <a :href="'movie-content.html?id='+item.id" class="external color-default mytouch">
                                <div class="vpl_remonForyou_list_left"> <img :src="item.cover" class="tuijian-pic" style="width: 100%;height: 100%;" /> </div>
                                <div class="vpl_remonForyou_list_right">
                                    <div class="vpl_remonForyou_list_right_des">
                                        <p>{{item.name}}</p>
                                        <p>{{item.title}}</p>
                                    </div>
                                    <div class="vpl_remonForyou_list_right_go iconfont icon-right2"></div>
                                </div>
                                </a>
                            </li>
                    </ul>
                </div>
            </section>
            <section class="vpl_box vpl_tc_comment" style="display: none;">
                   <div class="movie-buzz">
                    <span>热评</span>
                    <i class="iconfont icon-guanbi vpl_remonForyou_close" @click="close_tj()"></i>
                </div>
                <div class="movie-user-review">
                    <img src="assets/images/my_user.png" />
                    <input class="movie-user-input" type="text" placeholder="我来说两句" @click='addComment(1)' />
                </div>
                <div class="card movie-other-review">
                    <div style="display: block;height: 100%;">
                        <div class="card-content clearfix" v-for='item in Comment' v-cloak>
                            <div class="list-block media-list" id="{{item.id}}">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-media">
                                            <img :src="'http://img.7cai.tv/'+item.head">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">{{item.user_name}}</div>
                                            </div>
                                            <div class="item-subtitle">{{item.add_time}}</div>
                                        </div>
                                        <div class="review-log" @click='addComment(0,item.id)' :id="item.id">
                                            <i class="icon icon-xiaoxizhongxin1"></i>
                                            <span>{{item.reply_num}}</span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="movie-cont">
                                    {{item.content}}
                                </div>
                                <div class="movie-other-cont" v-if="item.reply!=''" v-for="items in item.reply">
                                    <span class="movieCont-tit">{{items.user_name}}</span><span>：</span> {{items.content}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vpl_slidemore" v-show="switchShow" @click="getCommentMore()">
                        <p class="mytouch">查看更多></p>
                    </div>
                    <!--评价 end-->
                </div>
             </section>
            <div class="videobox">
            <div>
                <div id="video" style="width:100%;height:auto;"></div>
               </div>
                <div class="bg_video" style="z-index: 99999999999;">
                    <div class="vip_tips">
                        <p>试看结束,继续播放需要付费5元或开通会员终身免费本平台所有影视资源~</p>
                        <ul>
                            <li @click="getTitleHref()">付费点播</li>
                            <li><a href="become-member.html">开通会员</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="comment_bar">
                <textarea name="" id="f_comment" cols="30" rows="4"></textarea>
                <button @click='btn_comment()'>发送</button>
            </div>
            <div class="bg_zhezhao" @click="close_fabiao"></div>
        </div>
    </div>
    
    <!--分享弹窗-->
		<div class="getTicketShare popup popup-shares" id="popup-shares">
			<div class="gd-share">
				<div class="allShare">
					<span onclick="shareWebpage('timeline')"  class="share-icon">
						<img src="assets/images/pengyou.png" />
						<span>朋友圈</span>
					</span>
					<span onclick="shareWebpage('session')" class="share-icon">
						<img src="assets/images/wechati.png" />
						<span>微信</span>
					</span>
					<span  onclick="qqshareNews_QZone()" class="share-icon">
						<img src="assets/images/QQzone.png" />
						<span>QQ空间</span>
					</span>
				</div>
				<div class="close-popup closeShare">取消</div>
			</div>
		</div>
		<!--分享弹窗结束-->
    
    <!-- <script src="assets/js/hprose.js"></script> -->
    <script src="lib/cyberplayer.js"></script>
    <script src="assets/js/fx.js"></script>
    <!-- <script src="http://imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer.js" charset="utf-8"></script> -->
    <script src="assets/js/movie_content.js"></script>
</body>

</html>
